<h2>Welcome to My Favorite Hobby</h2>
<p>I love playing the guitar. It's a great way to express creativity and unwind.
    Whether it's strumming chords or learning new songs, guitar is a passion for
    me!</p>