<form method="POST">
  <div class="form-group">
    <label for="exampleFormControlInput1">Email address</label>
    <input
      type="email"
      class="form-control"
      id="exampleFormControlInput1"
      placeholder="name@example.com"
      name="email"
    />
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput2">Theme message</label>
    <input
      type="text"
      class="form-control"
      id="exampleFormControlInput2"
      name="theme"
    />

  </div>

  <div class="form-group">
    <label for="exampleFormControlTextarea1">Example textarea</label>
    <textarea
      class="form-control"
      id="exampleFormControlTextarea1"
      rows="3"
      name="message"
    ></textarea>
  </div>
  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
    <button
      type="submit"
      data-mdb-button-init
      data-mdb-ripple-init
      class="btn btn-primary btn-lg"
    >Send</button>
  </div>
</form>